<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<style>
  /* Custom gradient to match your original theme */
  .kpi-gradient {
    background: linear-gradient(129deg, #254d5c, #90f5ff);
  }
</style>

{% extends 'dashboard/base.html' %}   
{% block content %}

<div class="max-w-full mx-auto mt-5 mb-5 px-4 text-center">
    <h1 class="font-bold text-2xl md:text-3xl uppercase border-b border-gray-300 pb-3 tracking-wider text-slate-800">
        Yarn Inventory
    </h1>
</div>



<div class="p-4">
  <div id="top-kpi-container" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-7 gap-4 mb-6">
    
    <div class="kpi-gradient p-5 rounded-lg shadow-lg text-white flex flex-col">
      <span class="text-3xl font-black block mb-2">12345{{ v_bal_lbs }}</span>
      <span class="text-lg font-bold uppercase tracking-wide">LBS</span>
    </div>

    <div class="kpi-gradient p-5 rounded-lg shadow-lg text-white flex flex-col">
      <span class="text-3xl font-black block mb-2">52871{{ v_bags }}</span>
      <span class="text-lg font-bold uppercase tracking-wide">BAGS</span>
    </div>

    <div class="kpi-gradient p-5 rounded-lg shadow-lg text-white flex flex-col">
      <span class="text-3xl font-black block mb-2">{{ v_amt }}</span>
      <span class="text-lg font-bold uppercase tracking-wide">AMOUNT</span>
    </div>

    <div class="kpi-gradient p-5 rounded-lg shadow-lg text-white flex flex-col">
      <span class="text-3xl font-black block mb-2">{{ v_fresh }}</span>
      <span class="text-lg font-bold uppercase tracking-wide text-gray-100">FRESH</span>
    </div>

    <div class="kpi-gradient p-5 rounded-lg shadow-lg text-white flex flex-col">
      <span class="text-3xl font-black block mb-2">{{ v_sales }}</span>
      <span class="text-lg font-bold uppercase tracking-wide">SALEABLE</span>
    </div>

    <div class="kpi-gradient p-5 rounded-lg shadow-lg text-white flex flex-col">
      <span class="text-3xl font-black block mb-2">{{ v_b2r_lbs }}</span>
      <span class="text-lg font-bold uppercase tracking-wide">B2R LBS</span>
    </div>

    <div class="kpi-gradient p-5 rounded-lg shadow-lg text-white flex flex-col">
      <span class="text-3xl font-black block mb-2">{{ v_b2r_amt }}</span>
      <span class="text-lg font-bold uppercase tracking-wide">B2R AMOUNT</span>
    </div>

  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="max-w-full mx-auto p-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
    {% comment %} 0-6 Months Aging {% endcomment %}
    <div class="bg-[#eceef1] rounded-xl shadow-md overflow-hidden flex flex-col border border-gray-200">
        
        <div class="bg-[#8fbc8f] text-black text-center py-3 font-bold text-lg uppercase tracking-wider">
            0-6 Months Aging
        </div>

        <div class="p-4 flex flex-col items-center">
            <div class="relative w-24 h-24">
                <canvas id="ProgressChart1"></canvas>
            </div>
            <div class="text-center mt-3">
                <p class="text-sm font-bold text-gray-800">{{ v_percentage }}% of Overall Inventory</p>
                <p class="text-xs text-gray-500 font-semibold">(Inv: {{ v_age1 }} / LBS: {{ v_bal_lbs1 }})</p>
            </div>
        </div>

        <div class="px-4 pb-6 space-y-4">

            
            <div class="bg-white rounded-2xl p-3 shadow-sm border border-gray-100">
                <div class="bg-[#82d9f3] text-center text-[15px] font-bold rounded-[12px] uppercase mx-[45px] text-black">
                Main Store
                </div>
                <div class="flex justify-between text-base uppercase mb-1">
                    <span>Fresh:</span>
                    <span>12345{{ v_mainstore_fresh }}</span>
                </div>
                <div class="w-full bg-gray-200 rounded-full h-4 relative mb-3">
                    <div class="h-4 rounded-full" style="width: {{ v_per1 }}%; background-color: {{ v_color1 }};"></div>
                    <span class="absolute inset-0 flex justify-center items-center text-[10px] font-black">{{ 123 }}%</span>
                </div>

                <div class="flex justify-between text-base uppercase mb-1">
                    <span>Saleable:</span>
                    <span>1234{{ v_mainstore_sale }}</span>
                </div>
                <div class="w-full bg-gray-200 rounded-full h-4 relative">
                    <div class="h-4 rounded-full" style="width: {{ 6432 }}%; background-color: {{ v_color2 }};"></div>
                    <span class="absolute inset-0 flex justify-center items-center text-[10px] font-black">{{ v_per2 }}%</span>
                </div>
            </div>

            <div class="bg-white rounded-2xl p-3 shadow-sm border border-gray-100">
             <div class="bg-[#82d9f3] text-center text-[15px] font-bold rounded-[12px] uppercase mx-[45px] text-black">
                    RND Store
                </div>
                <div class="flex justify-between text-base uppercase mb-1">
                    <span>Fresh:</span>
                    <span>{{ v_rnd_fresh }}</span>
                </div>
                <div class="w-full bg-gray-200 rounded-full h-4 relative mb-3">
                    <div class="h-4 rounded-full bg-green-500" style="width: {{ v_per3 }}%; background-color:  {{ v_color1 }};"></div>
                    <span class="absolute inset-0 flex justify-center items-center text-[10px] font-black">{{ v_per3 }}%</span>
                </div>
                <div class="flex justify-between text-base uppercase mb-1">
                    <span>Saleable:</span>
                    <span>{{ v_rnd_sale }}</span>
                </div>
                <div class="w-full bg-gray-200 rounded-full h-4 relative">
                    <div class="h-4 rounded-full" style="width: {{ v_per4 }}%; background-color: {{ v_color2 }};"></div>
                    <span class="absolute inset-0 flex justify-center items-center text-[10px] font-black">{{ v_per4 }}%</span>
                </div>
            </div>

            <div class="bg-white rounded-2xl p-3 shadow-sm border border-gray-100">
                <div class="bg-[#82d9f3] text-center text-[15px] font-bold rounded-[12px] uppercase mx-[50px] text-black">
                    Loose Yarn
                </div>
                <div class="flex justify-between text-base uppercase mb-1">
                    <span>Fresh:</span>
                    <span>{{ v_ly_fresh }}</span>
                </div>
                <div class="w-full bg-gray-200 rounded-full h-4 relative mb-3">
                    <div class="h-4 rounded-full bg-orange-400" style="width: {{ v_per5 }}%; background-color: {{ v_color1 }};"></div>
                    <span class="absolute inset-0 flex justify-center items-center text-[10px] font-black">{{ v_per5 }}%</span>
                </div>
                <div class="flex justify-between text-base uppercase mb-1">
                    <span>Saleable:</span>
                    <span>{{ v_ly_sale }}</span>
                </div>
                <div class="w-full bg-gray-200 rounded-full h-4 relative">
                    <div class="h-4 rounded-full bg-blue-400" style="width: {{ v_per6 }}%; background-color: {{ v_color2 }};"></div>
                    <span class="absolute inset-0 flex justify-center items-center text-[10px] font-black">{{ v_per6 }}%</span>
                </div>
            </div>

            <div class="bg-white rounded-2xl p-3 shadow-sm border border-gray-100">
            <div class="bg-[#82d9f3] text-center text-[15px] font-bold rounded-[12px] uppercase mx-[45px] text-black">Overhead Store</div>
            <div class="flex justify-between text-base uppercase mb-1">
                <span>Fresh:</span>
                <span>{{ v_oh_fresh }}</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-4 relative mb-3">
                <div class="h-4 rounded-full transition-all duration-500" style="width: {{ v_per7 }}%; background-color: {{ v_color1 }};"></div>
                <span class="absolute inset-0 flex justify-center items-center text-[10px] font-black">{{ v_per7 }}%</span>
            </div>
            <div class="flex justify-between text-base uppercase mb-1">
                <span>Saleable:</span>
                <span>{{ v_oh_sale }}</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-4 relative">
                <div class="h-4 rounded-full transition-all duration-500" style="width: {{ v_per8 }}%; background-color: {{ v_color2 }};"></div>
                <span class="absolute inset-0 flex justify-center items-center text-[10px] font-black">{{ v_per8 }}%</span>
            </div>
        </div>

        <div class="bg-white rounded-2xl p-3 shadow-sm border border-gray-100">
            <div class="bg-[#82d9f3] text-center text-[15px] font-bold rounded-[12px] uppercase mx-[45px] text-black">Splicer Store</div>
            <div class="flex justify-between text-base uppercase mb-1">
                <span>Fresh:</span>
                <span>{{ v_splice_fresh }}</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-4 relative mb-3">
                <div class="h-4 rounded-full transition-all duration-500" style="width: {{ v_per9 }}%; background-color: {{ v_color1 }};"></div>
                <span class="absolute inset-0 flex justify-center items-center text-[10px] font-black">{{ v_per9 }}%</span>
            </div>
            <div class="flex justify-between text-base uppercase mb-1">
                <span>Saleable:</span>
                <span>{{ v_splice_sale }}</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-4 relative">
                <div class="h-4 rounded-full transition-all duration-500" style="width: {{ v_per10 }}%; background-color: {{ v_color2 }};"></div>
                <span class="absolute inset-0 flex justify-center items-center text-[10px] font-black">{{ v_per10 }}%</span>
            </div>
        </div>


            </div>
  </div>
    {% comment %} 6 Months - 1 Year {% endcomment %}
    <div class="bg-[#eceef1] rounded-xl shadow-md overflow-hidden flex flex-col border border-gray-200">
    
        <div class="bg-[#ffe4c4] text-black text-center py-3 font-bold text-lg uppercase tracking-wider">
        6 Months - 1 Year
        </div>

        <div class="p-4 flex flex-col items-center">
        <div class="relative w-24 h-24">
            <canvas id="ProgressChart2"></canvas>
        </div>
        <div class="text-center mt-3">
            <p class="text-sm font-bold text-gray-800">{{ v_percentage }}% of Overall Inventory</p>
            <p class="text-xs text-gray-500 font-semibold">(Inv: {{ v_age2 }} / LBS: {{ v_bal_lbs }})</p>
        </div>
        </div>

        <div class="px-4 pb-6 space-y-4">
        
        <div class="bg-white rounded-2xl p-3 shadow-sm border border-gray-100">
                <div class="bg-[#82d9f3] text-center text-[15px] font-bold rounded-[12px] uppercase mx-[45px] text-black">
            Main Store
        </div>            
            <div class="flex justify-between text-base uppercase mb-1">
                <span>Fresh:</span>
                <span>{{ v_mainstore_fresh }}</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-4 relative mb-3">
                <div class="h-4 rounded-full transition-all duration-500" style="width: {{ v_per1 }}%; background-color: {{ v_color1 }};"></div>
                <span class="absolute inset-0 flex justify-center items-center text-[10px] font-black">{{ v_per1 }}%</span>
            </div>

            <div class="flex justify-between text-base uppercase mb-1">
                <span>Saleable:</span>
                <span>1234{{ v_mainstore_sale }}</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-4 relative">
                <div class="h-4 rounded-full transition-all duration-500" style="width: {{ v_per2 }}%; background-color: {{ v_color2 }};"></div>
                <span class="absolute inset-0 flex justify-center items-center text-[10px] font-black">{{ v_per2 }}%</span>
            </div>
        </div>

        <div class="bg-white rounded-2xl p-3 shadow-sm border border-gray-100">
            <div class="bg-[#82d9f3] text-center text-[15px] font-bold rounded-[12px] uppercase mx-[45px] text-black">
                RND Store 
            </div>
            <div class="flex justify-between text-base uppercase mb-1">
                <span>Fresh:</span>
                <span>{{ v_rnd_fresh }}</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-4 relative mb-3">
                <div class="h-4 rounded-full transition-all duration-500" style="width: {{ v_per3 }}%; background-color: {{ v_color1 }};"></div>
                <span class="absolute inset-0 flex justify-center items-center text-[10px] font-black">{{ v_per3 }}%</span>
            </div>
            <div class="flex justify-between text-base uppercase mb-1">
                <span>Saleable:</span>
                <span>{{ v_rnd_sale }}</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-4 relative">
                <div class="h-4 rounded-full transition-all duration-500" style="width: {{ v_per4 }}%; background-color: {{ v_color2 }};"></div>
                <span class="absolute inset-0 flex justify-center items-center text-[10px] font-black">{{ v_per4 }}%</span>
            </div>
        </div>

        <div class="bg-white rounded-2xl p-3 shadow-sm border border-gray-100">
            <div class="bg-[#82d9f3] text-center text-[15px] font-bold rounded-[12px] uppercase mx-[45px] text-black">Loose Yarn</div>
            <div class="flex justify-between text-base uppercase mb-1">
                <span>Fresh:</span>
                <span>{{ v_ly_fresh }}</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-4 relative mb-3">
                <div class="h-4 rounded-full bg-blue-500 transition-all duration-500" style="width: {{ v_per5 }}%; background-color: {{ v_color1 }};"></div>
                <span class="absolute inset-0 flex justify-center items-center text-[10px] font-black">{{ v_per5 }}%</span>
            </div>
            <div class="flex justify-between text-base uppercase mb-1">
                <span>Saleable:</span>
                <span>{{ v_ly_sale }}</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-4 relative">
                <div class="h-4 rounded-full bg-pink-600 transition-all duration-500" style="width: {{ v_per6 }}%; background-color: {{ v_color2 }};"></div>
                <span class="absolute inset-0 flex justify-center items-center text-[10px] font-black">{{ v_per6 }}%</span>
            </div>
        </div>

        <div class="bg-white rounded-2xl p-3 shadow-sm border border-gray-100">
            <div class="bg-[#82d9f3] text-center text-[15px] font-bold rounded-[12px] uppercase mx-[45px] text-black">Overhead Store</div>
            <div class="flex justify-between text-base uppercase mb-1">
                <span>Fresh:</span>
                <span>{{ v_oh_fresh }}</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-4 relative mb-3">
                <div class="h-4 rounded-full transition-all duration-500" style="width: {{ v_per7 }}%; background-color: {{ v_color1 }};"></div>
                <span class="absolute inset-0 flex justify-center items-center text-[10px] font-black">{{ v_per7 }}%</span>
            </div>
            <div class="flex justify-between text-base uppercase mb-1">
                <span>Saleable:</span>
                <span>{{ v_oh_sale }}</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-4 relative">
                <div class="h-4 rounded-full transition-all duration-500" style="width: {{ v_per8 }}%; background-color: {{ v_color2 }};"></div>
                <span class="absolute inset-0 flex justify-center items-center text-[10px] font-black">{{ v_per8 }}%</span>
            </div>
        </div>

        <div class="bg-white rounded-2xl p-3 shadow-sm border border-gray-100">
            <div class="bg-[#82d9f3] text-center text-[15px] font-bold rounded-[12px] uppercase mx-[45px] text-black">Splicer Store</div>
            <div class="flex justify-between text-base uppercase mb-1">
                <span>Fresh:</span>
                <span>{{ v_splice_fresh }}</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-4 relative mb-3">
                <div class="h-4 rounded-full transition-all duration-500" style="width: {{ v_per9 }}%; background-color: {{ v_color1 }};"></div>
                <span class="absolute inset-0 flex justify-center items-center text-[10px] font-black">{{ v_per9 }}%</span>
            </div>
            <div class="flex justify-between text-base uppercase mb-1">
                <span>Saleable:</span>
                <span>{{ v_splice_sale }}</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-4 relative">
                <div class="h-4 rounded-full transition-all duration-500" style="width: {{ v_per10 }}%; background-color: {{ v_color2 }};"></div>
                <span class="absolute inset-0 flex justify-center items-center text-[10px] font-black">{{ v_per10 }}%</span>
            </div>
        </div>


        </div>
  </div>
    {% comment %} 1-2 Years Aging {% endcomment %}
    <div class="bg-[#eceef1] rounded-xl shadow-md overflow-hidden flex flex-col border border-gray-200">
    
    <div class="bg-[#add8e6] text-black text-center py-3 font-bold text-lg uppercase tracking-wider">
        1-2 Years Aging
    </div>

    <div class="p-4 flex flex-col items-center">
        <div class="relative w-24 h-24">
            <canvas id="ProgressChart3"></canvas>
        </div>
        <div class="text-center mt-3">
            <p class="text-sm font-bold text-gray-800">{{ v_percentage }}% of Overall Inventory</p>
            <p class="text-xs text-gray-500 font-semibold">(Inv: {{ v_age3 }} / LBS: {{ v_bal_lbs }})</p>
        </div>
    </div>

    <div class="px-4 pb-6 space-y-4">

        <div class="bg-white rounded-2xl p-3 shadow-sm border border-gray-100">
         <div class="bg-[#82d9f3] text-center text-[15px] font-bold rounded-[12px] uppercase mx-[45px] text-black">
                Main Store
            </div>

            <div class="flex justify-between text-base uppercase mb-1">
                <span>Fresh:</span>
                <span>{{ v_mainstore_fresh }}</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-4 relative mb-3">
                <div class="h-4 rounded-full transition-all" style="width: {{ v_per1 }}%; background-color: {{ v_color1 }};"></div>
                <span class="absolute inset-0 flex justify-center items-center text-[10px] font-black">{{ v_per1 }}%</span>
            </div>

            <div class="flex justify-between text-base uppercase mb-1">
                <span>Saleable:</span>
                <span>1234{{ v_mainstore_sale }}</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-4 relative">
                <div class="h-4 rounded-full transition-all" style="width: {{ v_per2 }}%; background-color: {{ v_color2 }};"></div>
                <span class="absolute inset-0 flex justify-center items-center text-[10px] font-black">{{ v_per2 }}%</span>
            </div>
        </div>

        <div class="bg-white rounded-2xl p-3 shadow-sm border border-gray-100">
            <div class="bg-[#82d9f3] text-center text-[15px] font-bold rounded-[12px] uppercase mx-[45px] text-black">
                RND Store 
            </div>
            <div class="flex justify-between text-base uppercase mb-1">
                <span>Fresh:</span>
                <span>{{ v_rnd_fresh }}</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-4 relative mb-3">
                <div class="h-4 rounded-full transition-all" style="width: {{ v_per3 }}%; background-color: {{ v_color1 }};"></div>
                <span class="absolute inset-0 flex justify-center items-center text-[10px] font-black">{{ v_per3 }}%</span>
            </div>

            <div class="flex justify-between text-base uppercase mb-1">
                <span>Saleable:</span>
                <span>{{ v_rnd_sale }}</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-4 relative">
                <div class="h-4 rounded-full transition-all" style="width: {{ v_per4 }}%; background-color: {{ v_color2 }};"></div>
                <span class="absolute inset-0 flex justify-center items-center text-[10px] font-black">{{ v_per4 }}%</span>
            </div>
        </div>

        <div class="bg-white rounded-2xl p-3 shadow-sm border border-gray-100">
            <div class="bg-[#82d9f3] text-center text-[15px] font-bold rounded-[12px] uppercase mx-[45px] text-black">Loose Yarn</div>
            
            <div class="flex justify-between text-base uppercase mb-1">
                <span>Fresh:</span>
                <span>{{ v_ly_fresh }}</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-4 relative mb-3">
                <div class="h-4 rounded-full transition-all" style="width: {{ v_per5 }}%; background-color: {{ v_color1 }};"></div>
                <span class="absolute inset-0 flex justify-center items-center text-[10px] font-black">{{ v_per5 }}%</span>
            </div>

            <div class="flex justify-between text-base uppercase mb-1">
                <span>Saleable:</span>
                <span>{{ v_ly_sale }}</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-4 relative">
                <div class="h-4 rounded-full transition-all" style="width: {{ v_per6 }}%; background-color: {{ v_color2 }};"></div>
                <span class="absolute inset-0 flex justify-center items-center text-[10px] font-black">{{ v_per6 }}%</span>
            </div>
        </div>

        <div class="bg-white rounded-2xl p-3 shadow-sm border border-gray-100">
            <div class="bg-[#82d9f3] text-center text-[15px] font-bold rounded-[12px] uppercase mx-[45px] text-black">Overhead Store</div>
            
            <div class="flex justify-between text-base uppercase mb-1">
                <span>Fresh:</span>
                <span>{{ v_oh_fresh }}</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-4 relative mb-3">
                <div class="h-4 rounded-full bg-gray-400 transition-all" style="width: {{ v_per7 }}%; background-color: {{ v_color1 }};"></div>
                <span class="absolute inset-0 flex justify-center items-center text-[10px] font-black">{{ v_per7 }}%</span>
            </div>

            <div class="flex justify-between text-base uppercase mb-1">
                <span>Saleable:</span>
                <span>{{ v_oh_sale }}</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-4 relative">
                <div class="h-4 rounded-full transition-all" style="width: {{ v_per8 }}%; background-color: {{ v_color2 }};"></div>
                <span class="absolute inset-0 flex justify-center items-center text-[10px] font-black">{{ v_per8 }}%</span>
            </div>
        </div>

        <div class="bg-white rounded-2xl p-3 shadow-sm border border-gray-100">
            <div class="bg-[#82d9f3] text-center text-[15px] font-bold rounded-[12px] uppercase mx-[45px] text-black">Splicer Store</div>
            <div class="flex justify-between text-base uppercase mb-1">
                <span>Fresh:</span>
                <span>{{ v_splice_fresh }}</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-4 relative mb-3">
                <div class="h-4 rounded-full transition-all duration-500" style="width: {{ v_per9 }}%; background-color: {{ v_color1 }};"></div>
                <span class="absolute inset-0 flex justify-center items-center text-[10px] font-black">{{ v_per9 }}%</span>
            </div>
            <div class="flex justify-between text-base uppercase mb-1">
                <span>Saleable:</span>
                <span>{{ v_splice_sale }}</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-4 relative">
                <div class="h-4 rounded-full transition-all duration-500" style="width: {{ v_per10 }}%; background-color: {{ v_color2 }};"></div>
                <span class="absolute inset-0 flex justify-center items-center text-[10px] font-black">{{ v_per10 }}%</span>
            </div>
        </div>

    </div>
  </div>
    {% comment %} 2+ Years Aging {% endcomment %}
    <div class="bg-[#eceef1] rounded-xl shadow-md overflow-hidden flex flex-col border border-gray-200">
    
    <div class="bg-[#e9967a] text-black text-center py-3 font-bold text-lg uppercase tracking-wider">
        2+ Years Aging
    </div>

    <div class="p-4 flex flex-col items-center">
        <div class="relative w-24 h-24">
            <canvas id="ProgressChart4"></canvas>
        </div>
        <div class="text-center mt-3">
            <p class="text-sm font-bold text-gray-800">{{ v_percentage }}% of Overall Inventory</p>
            <p class="text-xs text-gray-500 font-semibold">(Inv: {{ v_age4 }} / LBS: {{ v_bal_lbs }})</p>
        </div>
    </div>

    <div class="px-4 pb-6 space-y-4">

        <div class="bg-white rounded-2xl p-3 shadow-sm border border-gray-100">
            <div class="bg-[#82d9f3] text-center text-[15px] font-bold rounded-[12px] uppercase mx-[45px] text-black">
                Main Store
            </div>

            <div class="flex justify-between text-base uppercase mb-1">
                <span>Fresh:</span>
                <span>{{ v_mainstore_fresh }}</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-4 relative mb-3">
                <div class="h-4 rounded-full transition-all" style="width: {{ v_per1 }}%; background-color: {{ v_color1 }};"></div>
                <span class="absolute inset-0 flex justify-center items-center text-[10px] font-black">{{ v_per1 }}%</span>
            </div>

            <div class="flex justify-between text-base uppercase mb-1">
                <span>Saleable:</span>
                <span>1234{{ v_mainstore_sale }}</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-4 relative">
                <div class="h-4 rounded-full bg-pink-600 transition-all" style="width: {{ v_per2 }}%; background-color: {{ v_color2 }};"></div>
                <span class="absolute inset-0 flex justify-center items-center text-[10px] font-black">{{ v_per2 }}%</span>
            </div>
        </div>

        <div class="bg-white rounded-2xl p-3 shadow-sm border border-gray-100">
            <div class="bg-[#82d9f3] text-center text-[15px] font-bold rounded-[12px] uppercase mx-[45px] text-black">
                RND Store 
            </div>
            <div class="flex justify-between text-base uppercase mb-1">
                <span>Fresh:</span>
                <span>{{ v_rnd_fresh }}</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-4 relative mb-3">
                <div class="h-4 rounded-full bg-orange-400 transition-all" style="width: {{ v_per3 }}%; background-color: {{ v_color1 }};"></div>
                <span class="absolute inset-0 flex justify-center items-center text-[10px] font-black">{{ v_per3 }}%</span>
            </div>

            <div class="flex justify-between text-base uppercase mb-1">
                <span>Saleable:</span>
                <span>{{ v_rnd_sale }}</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-4 relative">
                <div class="h-4 rounded-full transition-all" style="width: {{ v_per4 }}%; background-color: {{ v_color2 }};"></div>
                <span class="absolute inset-0 flex justify-center items-center text-[10px] font-black">{{ v_per4 }}%</span>
            </div>
        </div>

        <div class="bg-white rounded-2xl p-3 shadow-sm border border-gray-100">
            <div class="bg-[#82d9f3] text-center text-[15px] font-bold rounded-[12px] uppercase mx-[45px] text-black">Loose Yarn</div>
            
            <div class="flex justify-between text-base uppercase mb-1">
                <span>Fresh:</span>
                <span>{{ v_ly_fresh }}</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-4 relative mb-3">
                <div class="h-4 rounded-full transition-all" style="width: {{ v_per5 }}%; background-color: {{ v_color1 }};"></div>
                <span class="absolute inset-0 flex justify-center items-center text-[10px] font-black">{{ v_per5 }}%</span>
            </div>

            <div class="flex justify-between text-base uppercase mb-1">
                <span>Saleable:</span>
                <span>{{ v_ly_sale }}</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-4 relative">
                <div class="h-4 rounded-full transition-all" style="width: {{ v_per6 }}%; background-color: {{ v_color2 }};"></div>
                <span class="absolute inset-0 flex justify-center items-center text-[10px] font-black">{{ v_per6 }}%</span>
            </div>
        </div>

        <div class="bg-white rounded-2xl p-3 shadow-sm border border-gray-100">
            <div class="bg-[#82d9f3] text-center text-[15px] font-bold rounded-[12px] uppercase mx-[45px] text-black">Overhead Store</div>
            
            <div class="flex justify-between text-base uppercase mb-1">
                <span>Fresh:</span>
                <span>{{ v_oh_fresh }}</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-4 relative mb-3">
                <div class="h-4 rounded-full transition-all" style="width: {{ v_per7 }}%; background-color: {{ v_color1 }};"></div>
                <span class="absolute inset-0 flex justify-center items-center text-[10px] font-black">{{ v_per7 }}%</span>
            </div>

            <div class="flex justify-between text-base uppercase mb-1">
                <span>Saleable:</span>
                <span>{{ v_oh_sale }}</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-4 relative">
                <div class="h-4 rounded-full transition-all" style="width: {{ v_per8 }}%; background-color: {{ v_color2 }};"></div>
                <span class="absolute inset-0 flex justify-center items-center text-[10px] font-black">{{ v_per8 }}%</span>
            </div>
        </div>
        
        <div class="bg-white rounded-2xl p-3 shadow-sm border border-gray-100">
            <div class="bg-[#82d9f3] text-center text-[15px] font-bold rounded-[12px] uppercase mx-[45px] text-black">Splicer Store</div>
            <div class="flex justify-between text-base uppercase mb-1">
                <span>Fresh:</span>
                <span>{{ v_splice_fresh }}</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-4 relative mb-3">
                <div class="h-4 rounded-full transition-all duration-500" style="width: {{ v_per9 }}%; background-color: {{ v_color1 }};"></div>
                <span class="absolute inset-0 flex justify-center items-center text-[10px] font-black">{{ v_per9 }}%</span>
            </div>
            <div class="flex justify-between text-base uppercase mb-1">
                <span>Saleable:</span>
                <span>{{ v_splice_sale }}</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-4 relative">
                <div class="h-4 rounded-full transition-all duration-500" style="width: {{ v_per10 }}%; background-color: {{ v_color2 }};"></div>
                <span class="absolute inset-0 flex justify-center items-center text-[10px] font-black">{{ v_per10 }}%</span>
            </div>
        </div>
    </div>
  </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const ctx1 = document.getElementById("ProgressChart1").getContext("2d");
        new Chart(ctx1, {
            type: "doughnut",
            data: {
                labels: ["Inventory", "LBS"],
                datasets: [{
                    data: [{{ 0 }}, {{ 1 }}],

                    // uper 0 ki jga v_age1 or 1 ki jga v_bal_age1

                    backgroundColor: ["#28a745", "#E0E0E0"],
                    borderWidth: 0
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                cutout: "75%",
                plugins: { legend: { display: false } }
            }
        });
    });
</script>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const ctx2 = document.getElementById("ProgressChart2").getContext("2d");
        new Chart(ctx2, {
            type: "doughnut",
            data: {
                labels: ["Inventory", "LBS"],
                datasets: [{
                    // Using PostgreSQL/Python variables here
                    data: [{{  0 }}, {{ 1 }}],
                    backgroundColor: ["#9b59b6", "#E0E0E0"],
                    borderWidth: 0
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                cutout: "75%",
                plugins: { legend: { display: false } }
            }
        });
    });
</script>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const ctx3 = document.getElementById("ProgressChart3").getContext("2d");
        const val = Number("{{ v_age3 }}") || 0;
        const remaining = Number("{{ v_bal_age3 }}") || 1;

        new Chart(ctx3, {
            type: "doughnut",
            data: {
                labels: ["Inventory", "LBS"],
                datasets: [{
                    data: [val, remaining],
                    backgroundColor: ["#fff700", "#E0E0E0"],
                    borderWidth: 0
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                cutout: "75%",
                plugins: { legend: { display: false } }
            }
        });
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const ctx4 = document.getElementById("ProgressChart4").getContext("2d");
        const val = Number("{{ v_age4 }}") || 0;
        const remaining = Number("{{ v_bal_age4 }}") || 1;

        new Chart(ctx4, {
            type: "doughnut",
            data: {
                labels: ["Inventory", "LBS"],
                datasets: [{
                    data: [val, remaining],
                    backgroundColor: ["#dc3545", "#E0E0E0"],
                    borderWidth: 0
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                cutout: "75%",
                plugins: { legend: { display: false } }
            }
        });
    });
</script>

{% endblock %}